.br4 {
    border-radius: 4px!important;
}

.br8 {
    border-radius: 8px!important;
}

.br6 {
    border-radius: 6px!important;
}

.w80 {
    width: 80%;
    min-width: 80%;
}

.w70 {
    width: 70%;
    min-width: 70%;
}

.w50 {
    width: 50%;
    min-width: 50%;
}

.w20 {
    width: 20%;
    min-width: 20%;
}

.w60 {
    width: 60%;
    min-width: 60%;
}

.w40 {
    width: 40%;
    min-width: 40%;
}

.h10p {
    height: 10px;
    min-height: 10px;
}

.h15p {
    height: 15px;
    min-height: 15px;
}

.h70p {
    height: 70px;
    min-height: 70px;
}

.h40p {
    height: 40px;
    min-height: 40px;
}

.h30p {
    height: 30px;
    min-height: 30px;
}

.h50p {
    height: 50px;
    min-height: 50px;
}

.h80p {
    height: 80px;
    min-height: 80px;
}

.h90p {
    height: 90px;
    min-height: 90px;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 15px;
}

.padding-10 {
    padding: 10px;
}


.centerVertically {
    display: flex;
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between !important;
    align-items: center;
}

.spaceEvenly {
    justify-content: space-evenly !important;
    align-items: flex-start;
}

.centerHorizontally {
    display: flex;
    flex-direction: row;
}

.justifyAndAlignCenter {
    justify-content: center;
    align-items: center;
}

.justifyAndAlignTopForVertical {
    justify-content: flex-start;
    align-items: center;
}

.justifyAndAlignBottomForVertical {
    justify-content: flex-end;
    align-items: center;
}

.justifyAndAlignTopForHorizontal {
    justify-content: center;
    align-items: flex-start;
}

.justifyAndAlignLeftForVertical {
    justify-content: center;
    align-items: flex-start;
}

.justifyAndAlignLeftForHorizontal {
    justify-content: flex-start;
    align-items: center;
}

.justifyAndAlignRightForVertical {
    justify-content: center;
    align-items: flex-end;
}

.justifyAndAlignRightForHorizontal {
    justify-content: flex-end;
    align-items: center;
}

.justifyAndAlignRightForVertical {
    justify-content: center;
    align-items: flex-end;
}

.justifyAndAlignRightForHorizontal {
    justify-content: flex-end;
    align-items: center;
}

.full-width {
    width: 100% !important;
}

.full-view-width {
    width: 100vw !important;
}

.full-view-height {
    height: 100vh !important;
}

.full-height {
    height: 100%;
}
